/**
 * For testing purposes
 *
 */
html,body {
  margin: 0;
  width: 100%;
  height: 100%;
  font: 13px Arial, sans-serif;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
}

.datatile{
  font-size: 2em;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.tile-0{background-color:#000;}
.tile-1{background-color:#222;}
.tile-2{background-color:#444;}
.tile-3{background-color:#666;}
.tile-4{background-color:#888;}
.tile-5{background-color:#999;}
.tile-6{background-color:#ccc;}
.tile-7{background-color:#ddd;}
.tile-8{background-color:#cecece;}
.tile-9{background-color:#efefef;}
